{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg'%}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Najlepszy OSK w twoim mieście!</h1>
                    <span class="subheading">Lorem ipsum</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for x in categories %}
                    <div class="post-preview">
                        <a href="/home/category/{{ x.symbol }}">
                            {% if x.is_discount == True %}
                            <h2 class="post-title">Kategoria {{ x.symbol }} - <s><span style="color: red">{{ x.price }} zł</span></s> {{ x.discount_price }} zł</h2>
                            {% else %}
                            <h2 class="post-title">Kategoria {{ x.symbol }} - {{ x.price }} zł</h2>
                            {% endif %}
                            <h3 class="post-subtitle">{{ x.description|truncatechars:200 }}</h3>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
{% endblock %}