{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'assets/img/vehicles.jpg'%}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Zaplanowane spotkania organizacyjne na najbliższy miesiąc</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for x in theories %}
                    <div class="post-preview">
                        <h2 class="post-title">{{forloop.counter}}. {{ x.0.start_date|date:"d.m.Y" }}r. </h2>
                        <h4 class="post-subtitle"> - wymiar kursu: {% if x.0.type == "T" %}Tygodniowy{% else %}Weekendowy{% endif %}  </h4>
                        <h4 class="post-subtitle"> - prowadzący - {{ x.1.surname }} {{ x.1.name }} </h4>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
{% endblock %}