{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'assets/img/vehicles.jpg'%}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Nasza flota</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for x in vehicles %}
                    <div class="post-preview">
                        <h2 class="post-title">{{ x.brand }}  {{ x.model }} ({{ x.year_of_production }})</h2>
                        <h3 class="post-subtitle"> Skrzynia biegów - {{ x.gearbox_type }} </h3>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
{% endblock %}