{% extends 'base_course.html' %}

{% block title %}Dodawanie kategorii{% endblock %}

{% block content %}
<div>
    <form action="#" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    
    <section class="py-8">
      <div class="container">
        <div class="p-6 bg-white rounded shadow">

          <div class="mb-5">

            <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Symbol</span>
                </div>
                <span class="small col-sm-8 col-6"><input class="form-control" type="text" name="symbol" id="" placeholder='Np. B'></span>
              </div>
            
              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Opis</span>
                </div>
                <span class="small col-sm-8 col-6"><textarea class="form-control" type="text" name="description" id="" placeholder='Opis...'></textarea></span>
              </div>

              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Liczba godzin</span>
                </div>
                <span class="small col-sm-8 col-6"><input class="form-control" type="number" name="required_practical_hours" id="" value=30></span>
              </div>

              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Cena</span>
                </div>
                <span class="small col-sm-8 col-6"><input class="form-control" type="number" name="price" id="" value=3000></span>
              </div>

              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Czy promocja</span>
                </div>
                <span class="small col-sm-8 col-6"> <input class="form-check-input" type="checkbox" name="is_discount" checked></span>
              </div>

              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Cena z promocją</span>
                </div>
                <span class="small col-sm-8 col-6"><input class="form-control" type="number" name="discount_price" id="" value=3000></span>
              </div>

              <div class="row row-2 mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center col-sm-4 col-6">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Zdjęcie</span>
                </div>
                <span class="small col-sm-8 col-6"><input type="file" name="photo" id="" accept="image/png, image/jpeg"></span>
              </div>

          <div class="row">
            <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                <button class="btn btn-primary" type="submit">Dodaj kategorie</button>
            </div>
            <div class="col-12 col-sm-6">
               
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    </form>
{% endblock content %}
