{% extends 'base_course.html' %}

{% block title %}Dodawanie kwalifikacji {{instructor.full_name}}{% endblock %}

{% block content %}
<div>
    <form action="#" method="post">
    {% csrf_token %}
    <section class="py-8">
      <div class="container">
        <div class="p-6 bg-white rounded shadow">

          <div class="mb-5">

            <div class="d-flex mb-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="me-2 d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg>
                  </span>
                  <span class="small text-secondary">Kategoria</span>
                </div>
                <span class="small"><select name="category">
                    {% for category in categories %}
                    <option value={{category.symbol}}>{{category.symbol}}</option>
                    {% endfor %}
                  </select></span>
              </div>
            
          </div>
          <div class="d-flex mb-4 align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <span class="me-2 d-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>  
                </svg>
              </span>
              <span class="small text-secondary">Data przyznania</span>
            </div>
            <span class="small"><input class="form-control" type="date" name="date_of_achievement" id="" value={% now "Y-m-d" %}></span>
          </div>


          <div class="row">
            <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                <button class="btn btn-primary" type="submit">Dodaj kwalifikacje</button>
            </div>
            <div class="col-12 col-sm-6">
               
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    </form>
{% endblock content %}
