{% extends 'base_course.html' %}

{% block title %}Rejestracja pracownika{% endblock title %}

{% block content %}
<div class="container">
  <div class="bg-white rounded shadow overflow-hidden">
    <div class="pt-4 pb-5 px-6 border-bottom border-secondary-light">
      <form action="#" method="post">
    {% csrf_token %}
      <div class="mb-6">
        <label class="form-label" for="">Nazwisko</label>
        <input class="form-control" type="text" name="surname" placeholder="np. Kowalski" id="">
      </div>
      
      <div class="mb-6">
        <label class="form-label" for="">Imię</label>
        <input class="form-control" type="text" name="name" placeholder="np. Jan" id="">
      </div>
      
      <div class="mb-6">
        <label class="form-label" for="">Data urodzenia</label>
        <input class="form-control" type="date" name="birth_date" placeholder="np. 07-05-2002" id="">
      </div>

      <div class="mb-6">
        <label class="form-label" for="">Data zatrudnienia</label>
        <input class="form-control" type="date" name="date_of_employment" placeholder="np. 07-05-2022" id="">
      </div>

      <div class="mb-6">
        <label class="form-label" for="">Czy administrator</label>
        <input class="form-check-input" type="checkbox" name="is_admin">
      </div>

      
      <button class="btn btn-primary" type="submit">Zarejestruj</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}